@import "palette.scss";

.card,
.modal-body {
  background-color: $card-background-color;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  img {
    min-width: 0;
    min-height: 0;
    object-fit: cover;
    flex-basis: 250px;
    cursor: pointer;
  }

  .card__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
    padding: 1em;

    .card__title {
      font-size: 1.9rem;
      color: $accent;
    }

    .card__stat {
      width: 80%;
      display: inline-flex;
      justify-content: space-between;
      color: rgb(255, 255, 255);

      span:first-child {
        color: pink;
        text-transform: uppercase;
      }
    }
  }
}
