* {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
input,
button {
  border: none;
}

h1 {
  margin: 1em 0;
  font-size: 2rem;
}

nav {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 2em 0;
  align-items: stretch;
}
nav button {
  width: 100%;
  font-size: 1.5rem;
  padding: 10px 15px;
  margin: 0.5em;
}
nav input[type='text'] {
  flex-grow: 1;
  font-size: 1.5rem;
  padding: 1em 0.5em;
}

body {
  background-color: #c0c0c0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.window {
  width: 90%;
  max-width: 900px;
  flex-grow: 1;
  margin: 3em 0;
  display: none;
}

.window.open{
  display: block;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  row-gap: 1em;
  column-gap: 1em;
  padding: 1em;
}

.container img {
  background-color: grey;
  width: 100%;
  margin: auto;
  height: auto;
  object-fit: cover;
  border-radius: 7px;
}

footer {
  width: 100%;
  padding: 1em 0;
  text-align: center;
}
